<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f67b76">  <td>19/02/13 19:24:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsuariosWSTest.deveRetornarListaDeUsuarios()[pri:0, instance:br.com.teste.leilao.teste.UsuariosWSTest@cc285f4]">deveRetornarListaDeUsuarios</td>
  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>19/02/13 19:24:17</td>   <td>5093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsuariosWSTest.deveRetornarUsuarioPeloID()[pri:0, instance:br.com.teste.leilao.teste.UsuariosWSTest@cc285f4]">deveRetornarUsuarioPeloID</td>
  <td>main@1596000437</td>   <td></td> </tr>
</table>
